* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: darkslategray;
}

html,
body {
  height: 100%;
  background-color: cornsilk;
  scroll-behavior: smooth;
}

#banner {
  /* background-color: red; */
  min-height: 90vh;
  width: 80vw;
  margin: 0 auto;
}

#banner h1 {
  font-size: 12vh;
  position: relative;
  top: 20vh;
}

#navigation {
  position: fixed;
  width: 100%;
  /* background-color: blue; */
  height: 10vh;
  bottom: 0;
  z-index: 10;
  background-color: cornsilk;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  padding: 1em;
  display: inline-block;
}

a:hover {
  color: cornsilk;
  background-color: indianred;
  border-radius: 10em;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
  margin: 0 1em;
}

main {
  height: 200vh;
  /* background-color: blue; */
  width: 90vw;
  margin: 0 auto;
}

#colors,
#typography {
  height: 90vh;
}

h2 {
  font-size: 3em;
  text-transform: uppercase;
  padding-top: 1em;
}
